/* Preload images */
body:after {
  content: url(../images/lb_close.png) url(../images/arrowLeft.png) url(../images/arrowRight.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10002;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;  
  background: #fff url(../images/LT_loader.gif) no-repeat center center;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px 8px;
  position: relative;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 0;  
}

.lb-cancel {
  display: block;
  width: 65px;
  height: 72px;
  margin: 0 auto;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  background: url("../images/arrowLeft.png") center center no-repeat #fff;
  height: 40px;
  width: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  background: url("../images/arrowRight.png") center center no-repeat #fff;
  height: 40px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding: 0 0 5px 0;
  *zoom: 1;
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  position: relative;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 8px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 95%;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 2.0em;
  color: #000;
  line-height: 1.2em;
  padding-left: 0px;
}

.lb-data .lb-number {
  display: none;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
  visibility: hidden;
}

.lb-closeContainer .lb-close {
  display: block;
  width: 15px;
  height: 15px;
  background: url(../images/lb_close.png) top right no-repeat;
  text-align: right;
  outline: none;
  margin: 6px 10px 0 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-closeContainer {
  position: relative;
  z-index: 30;
  min-height: 25px;
  vertical-align:  middle;
  text-align: center;
}